* {
    box-sizing: border-box;
}

input {
    padding: 14px 18px !important;
    line-height: 1;
}
a{
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-y: hidden;
}
/* change color */
#optionBox{
    position: fixed;
    top: 300px;
    right: 0;
    z-index: 9999;
    color: white;
    cursor: pointer;
}
#toggleBtn{
    background-color: black;
    float: right;
    padding: 5px;
}
#change-color{
    background-color: rgb(0, 0, 0);
    float: right;
    padding: 10px;
}
.color-item{
    height: 30px;
    width: 30px;
    display: inline-block;
}
/* loading screen */
#arrow{
    position: fixed;
    bottom: 10;
    right: 10;
    z-index: 99999;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    display: none;
}
#arrow .fas{
    padding: 0;
    font-size: 25px;
}
#loading{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    background-color: rgb(85, 135, 182);
    display: flex;
}
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(127, 212, 166);
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
.p-title {
    font-size: 18px;
    color: #999;
    margin-bottom: 70px;
}
.lead{
    margin-bottom: 70px;
}
#Navbar{
    transition: background-color ease-in .5s  ;
}
/* #About-us */
#About-us .container p {
    color: #6190a3;
}

.navbarNav{
    flex-grow: 0 !important;
}

.carousel-item{
    transform : .6s ease-in-out !important;
}

/* icons */

.fas {
    font-size: 30px;
    color: #f25454;
    padding: 0 4px 0 0;
}

.far {
    font-size: 30px;
    color: #f25454;
    padding: 0 4px 0 0;
}

.fab {
    font-size: 30px;
    color: #f25454;
    padding: 0 4px 0 0;
}

/* icons */

/* head */

.collapse .nav-link {
    color: white !important;
    font-size: 14px;
    font-weight: bold;
}

.homee span {
    color: #f25454;
}

.collapse .nav-link:hover {
    color: #f25454 !important;
}

.navbar-nav .fab {
    font-size: 18px;
    color: white;
    padding: 8px 6px;
}

.navbar-nav .fab:hover {
    color: #f25454;
}
.carousel-caption {
    bottom: 35%;
} 

.carousel-caption h1 {
    text-transform: uppercase !important;
    font-weight: 800;
    font-size: 60px;
}

.about-head h1::before {
    content: "A";
    position: absolute;
    top: -22px;
    right: 50%;
    font-size: 3.9rem;
    opacity: .5;
    transform: translateX(50%);
    color: #6c757d;
}

#Our-Team .about-head h1::before {
    content: "O";
    position: absolute;
    top: -22px;
    right: 50%;
    font-size: 3.9rem;
    opacity: .5;
    transform: translateX(50%);
    color: #6c757d;  
}
#services .about-head h1::before {
    content: "S";
    position: absolute;
    top: -22px;
    right: 50%;
    font-size: 3.9rem;
    opacity: .5;
    transform: translateX(50%);
    color: #6c757d;
}
/*  */
#Clients .about-head h1::before {
    content: "G";
    position: absolute;
    top: -22px;
    right: 50%;
    font-size: 3.9rem;
    opacity: .5;
    transform: translateX(50%);
    color: #6c757d;
}

#contact-us .about-head h1::before {
    content: "C";
    position: absolute;
    top: -22px;
    right: 50%;
    font-size: 3.9rem;
    opacity: .5;
    transform: translateX(50%);
    color: #6c757d;
}

#contact-us .list-group p {
    font-size: 14px;
    color: #999;
    margin: 2px 2px;
}

.item-services p {
    font-size: 15px;
    color: #666;
    margin: 0 0 10px
}

.item-services h5:hover {
    color: #f25454;
}

.about-head h1::after {
    content: "";
    background-color: black;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.about-me {
    text-align: center;
}

.about-me h1 {
    font-size: 60px;
    font-weight: bolder;
    padding: 50px;
}

.about-p {
    top: 45%;
    left: 42%;
}

.about-p::after {
    content: "";
    color: white;
    background-color: #20c997;
    position: absolute;
    top: 90%;
    left: 30%;
    height: 3px;
    width: 75px;
    padding-top: 5px;
    margin-top: 3px;
}

.progress {
    height: 2px;
    margin-top: 2px;
}

.progress-bar {
    background-color: #f25454;
}

.progress-value span {
    text-align: right;
}

/* OUR TEAM */

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(242, 84, 84, .8);
    opacity: 0;
    transition: all .3s ease-out;
}

.ourteam-item2:hover .overlay {
    opacity: 1;
}

.ourteam-item2:hover h5 {
    opacity: 1;
}

.ourteam-item2 img {
    transition: all .3s ease-out;
}

.ourteam-item2:hover img {
    transform: scale(1.2);
}

.ourteam-item2:hover h5 {
    color: rgb(242, 84, 84);
}

#Our-Team .fab {
    font-size: 18px;
    color: white;
}

.position {
    color: #b0b0b0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* Services */

#services .col-md-4 {
    padding: 5px 0;
}

/* contact us */

.override {
    position: absolute;
    top: 40%;
    left: 0;
    width: 4%;
    color: #fff;
}

.mine-carousel {
    overflow: hidden;
    background-color: transparent;
    border: 1px solid white;
    left: 0;
    transition: all .5s ease-in-out;
}

.mine-carousel:hover {
    background-color: rgb(236, 118, 118);
    opacity: 1;
}

#contact-us {
    background-color: #fafafa;
    padding-top: 30px;
}

#contact-us .row {
    padding: 20px 0;
}

form .message {
    height: 120px;
}

.form .btn {
    background-color: #f25454 !important;
}

/* footer */
#footer-top {
    background-color: #222;
    color: white;
}

#footer-top .list-group-item {
    background-color: transparent;
    border: none;
    color: #b0b0b0;
    padding: 0;
}
#footer-top .list-group-item:hover {
    color: #f25454;
}
#footer-top .tags a {
    text-decoration: none;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    padding: 1px;
    margin: 4px;
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
}
#footer-top .tags a:hover {
    border-color: #f25454;
    color: #f25454;
}
.footer-bottom {
    background: #1a1a1a;
}
.footer-bottom p a {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}
.footer-bottom p {
    color: #b0b0b0;
}

.footer-bottom p a:hover {
    color: #f25454 !important;
}

.footer-bottom .fab {
    color: white;
}

/*  slick */
#Clients .c2{
    padding: 0 50px;
}
.slideSlick img{
       height: 100px;
        width: 100px !important;
}
.slick-active { 
    padding: 20px 0; 
  }
  
  .slick-center { 
    transform: scale(1.08) ;
  }
  .slick-slide{
      opacity: .5;
      height: auto;
  }
  .slick-current{
      opacity: 1;
  }
  .slick-slide:not(.slick-active) { 
    margin: 20px 0;
  }
  .child { 
    width:100%; 
  }
  .slide:not(.slick-active) { 
    cursor: pointer; 
  }
  .pagination {
    text-align: center; 
    color: #3197fd;
    font-size: 2rem;
  }
  .slick-prev, .slick-next{
      background: rgb(44, 43, 43);
      border-radius: 5px;
      color: white;
  }
  .slick-arrow:hover{
    background-color: rgb(180, 59, 59);
  }
  
  @media screen and (max-width: 763px) {
    .carousel-caption h1 {
     text-transform: uppercase !important;
     font-weight: 600;
     font-size: 50px;
     text-align: center;
 }
 #optionBox{
    top: 45%;
}
 .carousel-caption{
     padding-bottom: 0 !important;
 }
 .mine-carousel{
     padding: 15px;
 }
 .collapse .nav-link {
     color: black !important;
     font-size: 18px;
     font-weight: bolder;
 }
 .team-details{
     padding: 20px 0 ;
 }
 .item-services{
     padding: 10px 0;
 }
 .foot-item{
     padding:10px 0;
 }
 .item-about{
     padding: 10px 0;
 }
 .carousel-control-next-icon, .carousel-control-prev-icon{
     height: 1rem;
     width: 1rem;
 }
}